<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body class="sign-up-body">
    <form action="/join" method="post" class="sign-up-form">
        <label for="memberpassword">Input password to become a member</label>
        <input type="text" name="memberpassword">
        <button type="submit" class="sub">Submit</button>
    </form>
</body>
</html>