<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Message</title>
</head>
<body class="sign-up-body">
    <form action="/post" method="post" class="sign-up-form">
        <textarea type="text" name="message" class="minput"></textarea>
        <button type="submit">Create Message</button>
    </form>
</body>
</html>