<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body class="sign-up-body">
    <form action="" method="POST" class="sign-up-form">
        <h2>Sign Up</h2>
        <div class="empass">
            <input id="username" name="username" placeholder="username" type="text" class="signin"/>
            <input id="password" name="password" type="password" placeholder="password" class="signin"/>
        </div>
        <button class="sub">Sign Up</button>
      </form>
</body>
</html>